/* revalia-regular - latin */
@font-face {
  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/revalia-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Revalia-Regular'),
    url('../fonts/revalia-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/revalia-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/revalia-v7-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/revalia-v7-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/revalia-v7-latin-regular.svg#Revalia') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --main-black: #000000;
  --main-white: #ffffff;
  --main-accent: #34547a;
  --main-bg-color: #fcfdfd;
  --section-bg-color: #eeeff1;
  --secondary-txt-color: #727272;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-black);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
