/* revalia-regular - latin */
@font-face {
  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/revalia-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Revalia-Regular'),
    url('../fonts/revalia-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/revalia-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/revalia-v7-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/revalia-v7-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/revalia-v7-latin-regular.svg#Revalia') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --main-black: #000000;
  --main-white: #ffffff;
  --main-accent: #34547a;
  --main-bg-color: #fcfdfd;
  --section-bg-color: #eeeff1;
  --secondary-txt-color: #727272;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-black);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  margin-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
}

.logo {
  font-family: 'Revalia', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;

  color: var(--main-accent);
}

.logo-link {
  text-decoration: none;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  padding: 20px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-accent);
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  background-color: var(--section-bg-color);
  height: 690px;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-icon {
  margin-left: 80px;
  margin-right: 140px;
  width: 880px;
  height: 230px;
}

.hero-info-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.65;
  letter-spacing: 0.01em;

  margin-bottom: 60px;
}

.hero-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.01em;

  color: var(--secondary-txt-color);

  margin-bottom: 60px;
}

.hero-info > .button {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.1em;

  color: var(--main-white);

  padding: 25px 41px;
  background-color: var(--main-accent);
  border: 1px solid transparent;
}

/* About */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;

  margin-bottom: 50px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  width: 540px;
  margin-left: auto;
  margin-right: auto;

  color: var(--secondary-txt-color);
}
